/* The Universal SelectorSelects Every Single Element On The Page */
/* * { */
/*Remember The Universal Selector Has The Lowest Priority In Specificty*/
/* border-top: 10px solid #1098ad; */
/* } */
* {
  /*Always use a global Reset When Starting a project To get Rid Of white space*/
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif; /*Defines the typeface used for the text.*/
  color: #444;
  border-top: 10px solid #1098ad;
}
.main-header {
  background-color: #f7f7f7;
  /* padding: 20px;
  padding-left: 40px;
  padding-right: 40px; */
  margin-bottom: 60px;
  padding: 20px 40px; /*Shorthand for padding Top and Bottom And Left And Right*/
}
.post-header {
  margin-bottom: 40px;
}
nav {
  font-size: 18px;
}

/* h1,
h2,
h3,
p,
li {
  
} */
h1,
h2,
h3 {
  color: #1098ad;
}
h1 {
  /* color: blue; */ /*Defines the color of the text*/
  font-size: 26px; /*Controls the size of the text.*/
  /* font-family: sans-serif; Defines the typeface used for the text. */
  text-transform: uppercase; /*Controls the capitalization of text.*/
  font-style: italic; /*Sets the style of the font. Commonly used to apply italic text.*/
  /* color: #1098ad; */
}
h2 {
  font-size: 40px;
  margin-bottom: 30px;
  /* font-family: sans-serif; */
}
h3 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 40px;
  /* font-family: sans-serif; */
}
h4 {
  font-size: 20px;
  /* font-family: sans-serif; */
  text-transform: uppercase;
  text-align: center;
}
p {
  font-size: 22px;
  /* font-family: sans-serif; */
  line-height: 1.5;
  margin-bottom: 15px;
}
li {
  /* font-family: sans-serif; */
  font-size: 20px; /*Font size is 16px by Default*/
  margin-bottom: 10px;
}
li:last-child {
  margin-bottom: 0;
}
ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}
footer p {
  /*Here we are styling using Descedant Selectors p is the descendant of footer*/
  font-size: 16px;
}
/* article header p {
  /*Descedant selectors may lead to errors and hard coding html structure into css*/
/* font-style: italic; */
/* }  */
#author {
  font-style: italic;
  font-size: 18px;
}
#copyright {
  font-size: 16px;
}
.related-author {
  font-size: 18px;
  font-weight: bold;
}
/* ul {
  list-style: none;
} */
.related {
  list-style: none;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  /* padding-top: 50px;
  padding-bottom: 50px; */
  padding: 50px 0; /*Better To Use The SHorthand Form*/
  /* border-left:  5px solid #1098ad;
  border-radius:  5px solid #1098ad; */
}
/* body { */ /*Styles The Entire Body*/
/* background-color: rgba(0, 0, 255, 0.212); */
/* } */
/* Css */
/* .first-li {//Manual implementaion without Pseudo classes
  font-weight: bold;
} */
li:first-child {
  /*Use of Pseudo Classes*/
  font-weight: bold;
}
li:last-child {
  font-style: italic;
}

/* li:nth-child(even) {
  color: red;
} */
/* Misconception:This Wont Work  */
/* article p:last-child {
  color: red;
} */

/* Styling Hyperlinks */
/* Pseudo Classes for Links LVHA */
a:link {
  color: #1098ad;
  text-decoration: none;
}
a:visited {
  /* color:#444; */ /*In practice we give the visited links same color as the link*/
  color: #1098ad;
}
a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline orangered;
}
a:active {
  background-color: #444;
  font-style: italic;
}

/* Resolving Css Conflict Selectors */
#copyright {
  color: red;
}
.copyright {
  color: blue;
}
.text {
  color: yellow;
}
footer p {
  color: green;
}
/* nav a:link {
  font-size: 18px;
} */
